xlsxwriter==3.2.2
aiogram~=2.14
environs~=8.0.0
pandas==2.2.3
asyncpg==0.30.0
django==4.2.18
openpyxl==3.1.5
psycopg2==2.9.10
django-jazzmin==3.0.1
requests==2.32.3
django-debug-toolbar==5.0.1
djangorestframework==3.15.2
drf-yasg==1.21.8
django-cors-headers==4.6.0
sqlalchemy==2.0.37
aiofiles==24.1.0
aioschedule==0.5.2
